body {
  margin: 0;
  padding: 0;
  background-color: #ffe6f0;
  font-family: 'Comic Sans MS', cursive;
}

.game {
  width: 600px;
  height: 200px;
  border: 2px solid #ff99cc;
  margin: 50px auto;
  position: relative;
  overflow: hidden;
  background: linear-gradient(to top, #fff0f5, #ffe6f0);
}

#character {
  width: 25px;
  height: 25px;
  background-color: #ff66b2;
  position: absolute;
  bottom: 0;
  left: 50px;
  border-radius: 50%;
  z-index: 10;
}

.block {
  position: absolute;
  bottom: 0;
  background-color: #ff3399;
  animation: moveBlock 4s linear infinite;
}

#block1 {
  width: 20px;
  height: 25px;
  animation-delay: 1.5s;
}

#block2 {
  width: 15px;
  height: 30px;
  animation-delay: 3s;
}

#block3 {
  width: 25px;
  height: 20px;
  animation-delay: 4.5s;
}

@keyframes moveBlock {
  0% { left: 650px; }
  100% { left: -50px; }
}

.jump {
  animation: jump 0.5s;
}

@keyframes jump {
  0% { bottom: 0; }
  50% { bottom: 120px; } /* Výška skoku zvýšena */
  100% { bottom: 0; }
}